*.o
*.mod
*~
*.a

*.bak
*.aux
*.dvi
*.pdf
*.toc
*.log
*.bbl
*.blg
*.fls
*.out
00_version.tex

*.png
*.eps
*.gif
*.ctl
*.grd
*.pe[0-9][0-9][0-9][0-9][0-9][0-9]
*.lst
*.RData
scale-les_init
scale-les_pp

scale-gm/test/data/grid/boundary/gl05rl01*
scale-gm/test/data/grid/boundary/gl06*
scale-gm/test/data/grid/llmap/gl05/rl01*
scale-gm/test/data/grid/llmap/gl06*
